<!DOCTYPE html>
<html>

<head>
  <title>Restaurant Finder</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/query-chips.js" defer></script>
</head>

<body>
  <%- include("partials/header_bar.ejs") %>
  <div class="add_container">
    <div class="add_card">
      <h1>Add New Restaurant</h1>
      <form action="/add" method="GET">
        <label class="restaurant-name-label" for="name">Restaurant Name:</label><br>
        <input class="restaurant-name-input" type="text" id="name" name="name" required><br>
        <p>Food Type(s):</p>
        <input id="food_type_id" data-multiple="true" type="hidden" value="" name="food_type_id"></input>
        <% food_types.map(function(food_type) { %>
        <div class="food-type-chip select-chip" data-food-type-id="<%= food_type.id %>"><%= food_type.food %></div>
        <% }); %>
        <br>
        <p>Price Level:</p>
        <input id="price_level_id" data-multiple="false" type="hidden" value="" name="price_level_id"></input>
        <% price_levels.map(function(price_level) { %>
        <div class="price-level-chip select-chip" data-price-level-id="<%= price_level.id %>"><%= price_level.price %></div>
        <% }); %>
        <br>
        <p>Serves Drinks?</p>
        <input id="serves_drinks" data-multiple="false" type="hidden" value="" name="serves_drinks"></input>
        <div class="serves-drinks-chip select-chip" data-serves-drinks-bool="true">Yes</div>
        <div class="serves-drinks-chip select-chip" data-serves-drinks-bool="false">No</div>
        <br>
        <p>Fast Food?</p>
        <input id="is_fast_food" data-multiple="false" type="hidden" value="" name="is_fast_food"></input>
        <div class="is-fast-food-chip select-chip" data-is-fast-food-bool="true">Yes</div>
        <div class="is-fast-food-chip select-chip" data-is-fast-food-bool="false">No</div>
        <br>
        <button class="add-button" type="submit">Add</button>
      </form>
    </div>
</body>

</html>